* {margin: 0; padding: 0}
body {
  font-family: arial;
  margin: auto;
  height: 800px;
}
header {
  background-color: #CC00FF;
  display: inline;
  clear:both;
  height: 50px;
  margin-top: 15px;
  text-align: left;
}
.login {
  text-align: right;
}
nav {
  background-color: #CC00FF;
  clear: both;
  height: 35px;
  margin-top: 5px;
}
nav ul {list-style-type: none;}
nav ul li {
  float: left;
  width: 160px;
  text-align: left;
}
nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
}
