<!DOCTYPE html>
<html>
  <head>
    <title>Trolligarchian Stock Market - Stock Lookup</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h3>Stock Lookup</h3><br><br>
    <form action="" method="post">
      Stock Symbol:
      <input type="text" name="ticker">
      <input type="submit">
    </form></br>

          <p>Ticker: {{message[0]}}</p></br>
          <p>Company Name: {{message[1]}}</p></br>
          <p>Share Price: {{message[2]}}</p></br>
          <p>Share Volume: {{message[3]}}</p></br>

    {% endblock %}
  </body>
</html>
