<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trolligarchian Stock Market - Admin Portal</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h3>Admin Portal</h3></br></br>
    <p>Admins Only</p></br></br>
    {% if message %}
      <p> {{message}}</p>
    {% endif %}
    <div style="width: 360px; float: left; padding: 10px; margin-left:10px; border: 2px solid black;">
      <h4>User Controls</h4></br></br>
      <h5>New user creation</h5></br>
      <form method="POST">
        New Username:</br>
        <input type="text" name="nUname"> </br></br>
        New Password:</br>
        <input type="password" name="nPwd"></br></br>
        <input type="hidden" name="nUserMake">
        <input type="submit" action="">
      </form></br>
    </div>
    <div style="width: 360px; padding: 10px; margin-left:10px; border: 2px solid black;">
      <h4>Stock Controls</h4></br>
      <h5>Stockc Orders List</h5></br>
      <p><a href="../orders.csv">Download latest stock orders</a></p>
      <h5>New Stock IPO</h5></br></br>
      <form method="POST">
        New Stock Name:</br>
        <input type="text" name="stockName"></br></br>
        New Stock Symbol:</br>
        <input type="text" name="stockSymbol"></br></br>
        New Stock IPO price:</br>
        <input type="number" name="stockPrice"></br></br>
        New Stock Saleable Volume:</br>
        <input type="number" name="stockVol"></br></br>
        <input type="hidden" name="stockAdd">
        <input type="submit" action="">
      </form>
    </div>
    <div style="width: 100px; padding: 10px; margin-left: 10px; border: 2px solid black;">
      <h4>Logout</h4></br>
      <form methd="POST">
        <input type="hidden" name="logout">
        <input type="submit" alt="Logout">
    {% endblock %}
  </body>
</html>
