<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Trolligarchian Stock Market</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <p>This is the website for the Trolligarchian stock market. From here you can find information about all stocks, </p><br>
    <h6>Your investment can rise as well as fall, the Government holds no liability for lost earnings.</h6>
    {% endblock %}
  </body>
</html>
