<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/favicon" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
    <title>Trolligarchian Stock Market</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <p>This is the website for the Trolligarchian stock market. From here you can find information about all stocks, place orders and download historical price data for analysis.</p><br>
    <h3>History of the Exchange</h3><br>
    <p>This Exchange came into use shortly after the passing of the <a href="https://docs.google.com/document/d/1wMpd6lcngCl75rLyqTB9v77dRI7Qno3F-Bq9lMgl2DE/edit?usp=sharing">Fiscal and Treasury Act 2020</a><br>
      The act's author, Aligallaton, who can be found on the discord server in various guises of Tory Chancellors, is also the first person who created this exchange system. The backend is an utter mess, run from it at<br>
      all times.<br>
      The Exchange has always been digital, as it was seen as the simplest solution during it's inception. The Exchange is managed by the Chancellor of the Exchequer/Controller-General of Finance, who is in charge of all the colony's finances
      and monetary decisions, and apparently this falls into their remit.</p><br><br>
    <h6>Your investment can rise as well as fall, the Government holds no liability for lost earnings.</h6>
    {% endblock %}
  </body>
</html>
