<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trolligarchian Stock Market - Investment Portal</title>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h3>Investment Portal</h3><br><br>
    <p>All orders are delayed by at least 15 minutes</p></br><p>Please ensure all data is correct, as there is no backup as of yet.</p></br></br>
    <form method="post">
      Discord Nick:</br>
      <input type="text" placeholder="Discord Nick" name="purchaser"></br>
      Ticker of Stock: </br>
      <input type="text" placeholder="Ticker" name="stock"></br>
      Volume: </br>
      <input type="number" placeholder="Number of shares" name="volume"></br>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>
