<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
    <title>Trolligarchian Stock Market - Stock Lookup</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h3>Raw Information</h3><br><br>
    <p>From here all raw historical data can be found about all stocks on the exchange can be accessed.</p><br>
    <p>All data is in .csv format for ease of access through spreadsheeting programs.</p><br>
    <ul>
      <li><a href="backendData/stocks.csv">Sample Data for testing of system.</a></li>
    </ul>

    {% endblock %}
  </body>
</html>
