<!DOCTYPE html>
<html>
  <head>
    <title>Trolligarchian Stock Market</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
  </head>
  <body>
    <header>
      <h2>Welcome to the Trolligarchian Stock Market</h2>
    </header>
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}">Homepage</a></li>
        <li><a href="{{url_for('lookup')}}">Ticker Lookup</a></li>
        <li><a href="{{url_for('investPage')}}">Investment Portal</a></li>
      </ul>
    </nav>

    {% block content %}
    {% endblock %}

  <footer>
    <h3>An Alicolliar Production</h3>
  </footer>
  </body>
</html>
