<!DOCTYPE html>
<html>
  <head>
    <title>Trolligarchian Stock Market</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <h2>Welcome to the Trolligarchian Stock Market</h2>
      <div class="login"><a href="{{url_for('loginPage')}}">Admin Portal</a></div>
    </header>
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}">Homepage</a></li>
        <li><a href="{{url_for('lookup')}}">Ticker Lookup</a></li>
        <li><a href="{{url_for('investPage')}}">Investment Portal</a></li>
        <li><a href="{{url_for('rawhistorical')}}">Raw Historical Data</a></li>
      </ul>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <h6>Your investment can rise as well as fall, the Government holds no liability for lost earnings.</h6>
    <h3>An Alicolliar Production</h3>
  </footer>
  </body>
</html>
